---
---
<!DOCTYPE html>
<html>
<head>
  <title>orbit | your earth is beautiful</title>
  <meta charset='utf-8'/>
  <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
  <link rel='shortcut icon' href='../../favicon.ico' type='image/x-icon' />
  <link href='../../site.css' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div id='container'>
  {% include header.html %}
  <p class='back'><a href='/'>back to index</a></p>
  <div class='content'>
    {{content}}
  </div>
  {% include footer.html %}
</div>
</body>
